body {
    background-color:aliceblue;
    padding:0px;
    margin:0px; 
}
footer {
    background: white;
    position:absolute;
    left:0;
    bottom:0;
    height:200px;
    width:100%;
}

footer ul {
    list-style:none;
    margin-left:20%;
    margin-right:20%;
    font-size:12px;
}

footer li {
    display:inline;
    padding: 0px;
    margin: 5px;
}

footer hr {
    margin-left:20%;
    margin-right:20%;
}

footer div {
    margin-left: 20%;
}

.logo-block{
    text-align: left;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-left: 50px;

}

.logo-block img{
    display: block;
    width: 300px;
}

.logo-block p {
    font-size:30px;
}

.grap {
    display:flex;
    gap: 20px;
    justify-content:center;
    align-items:center;
}

.box {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 20px;
}
.login-form {
    width: 300px;
    margin: 0;
    display: flex;
    flex-direction: column;
    
}

.field {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-top: 0;

}

.btn {
    padding: 12px;
    font-size: 16px;
    border: none;
    background-color: #1877F2;
    color:white;
    border-radius: 8px;
}


.newacc{
    display:block;
    background-color:rgb(3, 209, 0);
    color:white;
    border:none;
    border-radius:8px;
    width:200px;
    height: 40px;
    margin: 30px auto;
}

a {
    display:block;
    text-decoration:none;
    color:#1877F2;
    margin-left: 80px;
    margin-top: 20px;
    margin-bottom: 0px;
}

a:hover {
    text-decoration:underline;
}
